.image-summary img {

    width: 200px;
    height: 200px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.album-summary{
    margin-right: 40px;
    display:inline-block;
}

#create_album{
    width: 100px;
    line-height: 5px;
    position: relative;
    font: 20;
    }
.modal-content{
    width:70%;
}

.fb_iframe_widget {
    margin: 15px;
    position: relative;
}

.home-image{
    height: 300px;
    width: 300px;
    display:inline-block;

    }   

.form-signup{
    width: 70%;
    background: ;
    background: Teal;
} 

.navbar-static-top{
    background-color: Teal;
    color: black;

}

.navbar .nav > li > a, .navbar .nav > li > a, .navbar .nav > li:visited {
    color: black;
}

.{
    background-color: Teal;
    color: #000000;
    padding-top: 10px;

}

.form-signin{
    width: 70%;
    background: Teal;

}

