.image-summary img {

    width: 200px;
    height: 200px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.album-summary{
    margin-right: 40px;
    display:inline-block;
}

#create_album{
    width: 130px;
    line-height: 5px;
    position: relative;
    }
.fb-login-button{
margin-bottom: 20px;
}

.home-image{
    height: 300px;
    width: 300px;
    display:inline-block;

    }    