{% extends 'base.html' %}
{% block body %}
<div id="image-list"> 
    <div class="image-summary">    
      {% for image in image_list %}
    <div class="individualiamge">
      <a class="fancybox" rel="gallery1" href="{{ image.image_url() }}">
      <img src="{{ image.image_url() }}" />
      </a>
      {% if fbid1 %}
      <div id="fb-root"></div>
      <div class="fb-share-button" data-href="{{ image.image_url() }}"></div>
      {% endif %}
    </div>
      {% endfor %}
    </div>
</div>
<script>

$(document).ready(function() {
  $(".fancybox").fancybox({
    openEffect  : 'elastic',
    closeEffect : 'elastic'
  });
});
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=1530401767181319&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
{% endblock %}