<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js#sthash.sjSL1dcU.dpuf"/>
        <script src="/static/js/jquery-1.11.1.js" type="text/javascript"></script>
        <link rel="stylesheet" href="/static/css/style.css" />
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <img src="/static/img/ubermelonsmall.png"><a class="navbar-brand" href="/">Welcome to photoshare</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        {% if 'userid' in session %}
                            <li><a href="/logout">Log out</a></li>
                            <font size="3" color="white">
                            <li>username:{{g.username}}</li></font>
                        {% else %}
                            <li><a href="/login">Log In</a></li>
                            <li><a href="/sign_up">Sign Up</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <ul class="flashes">
                <li>{{message}}</li>
            </ul>
            {% endfor %}
            {% endif %}
            {% endwith %}
            {% block body %}{% endblock %}
        </div>
    </body>
</html>