<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
        <script src="/static/js/jquery-1.11.1.js" type="text/javascript"></script>
        <link rel="stylesheet" href="/static/css/style.css" />
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-static-top login">
            <div class="container">
                <div class="navbar-header">
                    <h3><span class="glyphicon glyphicon-camera"></span>
Welcome to photoshare</h3>
                </div>
                <div class="navbar-collapse collapse">             
                    <ul class="nav navbar-nav navbar-right login">
                        {% if 'userid' in session %}
                            <li><a id="logout" href="/logout">Log out</a></li>
                            <li id="username">username:{{g.username}}</li>
                            <li><a href="{{ url_for('list_albums') }}">Upload album</a></li>
                        {% else %}
                            <li><a href="/login">Log In</a></li>
                            <li><a href="/sign_up">Sign Up</a></li>
                            <li><fb:login-button 
                                scope="public_profile,publish_actions,user_photos" onlogin="checkLoginState();"></li>
                                </fb:login-button>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <ul class="flashes">
                <li>{{message}}</li>
            </ul>
            {% endfor %}
            {% endif %}
            {% endwith %}
            {% block body %}{% endblock %}
        </div>
        <div id="fb-root"></div>
        <script src="/static/js/facebook_login.js"></script>
    </body>
</html>
