{% extends 'base.html' %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>Create Album</title>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<style type="text/css">
    .bs-example{
        margin: 20px;
    }
</style>
</head>
<body>
<div class="bs-example">
    <!-- Button HTML (to Trigger Modal) -->
    <a href="#myModal" class="btn btn-lg btn-primary" data-toggle="modal">Create Album</a>
    
    <!-- Modal HTML -->
    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Create Album</h4>
                </div>
                <form action="/create_album" enctype="multipart/form-data" method="post">
                    <div class="modal-body">

                    Please enter album name</br>
                    <input type="text" name="new_album">
                    <p></p>
                    Description</br>
                    <input type="text" name="desc">
                    <p></p>
                    Please write up small paragraph about this album if you would like</br>
                    <textarea type="text" name="blogpost" row="4" cols="50">
                    </textarea>    
                    <p></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <input type="submit" class="btn btn-primary" value="Save album"></input>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>          
<p></p>    
<form action="/upload_album"
enctype="multipart/form-data" method="post">
<div>
<select name="albumname" type="text">
  <option value="album1">A1</option>
  <option value="Album2">A2</option>
  <option value="Album3">A3</option>
  <option value="None">None</option>
</select> 
</div>
<p></p>
<div>
Type some text (if you like:<br>
<p></p>
<input type="text" name="Description" size="30">
</div>
<p></p>
Please select files<br>
<p></p>
<div>
<input type="file" name="imagefile" size="40">
</div>
<p></p>
<div>
<input type="submit" value="upload">
</div>
<p></p>
<div id="album-list">
    {% for album in album_list %}
    <div class="album-summary">
        <h2><a href="/album/{{album.id}}">{{album.name}}</a></h2>
        <a href="/album/{{album.id}}">
        <img src="static/uploads/{{album.images[0].name|replace(" ","_")}}" height="42" width="42">
        </a>
    </div>
    {% endfor %}
</div>
<div class="container">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <ul class="flashes">
                <li>{{message}}</li>
            </ul>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
    </form>
</form>
</body>
</html>  
{% endblock %}  
