{% extends 'base.html' %}
{% block body %}
<form action="/upload_album"
enctype="multipart/form-data" method="post">
<div>
<select name="albumname" type="text">
  <option value="album1">A1</option>
  <option value="Album2">A2</option>
  <option value="Album3">A3</option>
  <option value="None">None</option>
</select> 
</div>
<p></p>
<div>
Type some text (if you like:<br>
<p></p>
<input type="text" name="Description" size="30">
</div>
<p></p>
Please select files<br>
<p></p>
<div>
<input type="file" name="imagefile" size="40">
</div>
<p></p>
<div>
<input type="submit" value="upload">
</div>
<p></p>
<div id="album-list">
    {% for album in album_list %}
    <div class="album-summary">
        <h2><a href="/album/{{album.id}}">{{album.name}}</a></h2>
        <a href="/album/{{album.id}}">
        <img src="static/uploads/{{album.images[0].name|replace(" ","_")}}" height="42" width="42">
        </a>
    </div>
    {% endfor %}
</div>
<div class="container">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <ul class="flashes">
                <li>{{message}}</li>
            </ul>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
    </form>
</form>
{% endblock %}  
